#maven
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.DS_Store

#eclipse
.settings/
.project
.classpath

#idea
.idea/
*.iml
*.ipr
*.iws

#gradle
.gradle/

logs/
#other
/classes/
*.log
*.gz
*.bak
rebel.xml
rebel-remote.xml

consumer/
log.path_IS_UNDEFINED/
